@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<style>

    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
    }

    .card-body {
        background-color: #ffffff;
        border-radius: 15px;
    }

    #divUpdate a {
        color: #007bff;
        text-decoration: none;
    }

        #divUpdate a:hover {
            text-decoration: underline;
        }

    .card-text {
        font-size: 16px;
    }

        .card-text strong {
            color: #333333;
        }

        .card-text span {
            color: #555555;
        }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;
    }

    .status-connected {
        background-color: #c3e6cb;
        border-color: rgba(140, 248, 66, 0.8);
        border-width: 15px;
        color: #155724;
    }

    .status-disconnected {
        background-color: #f5c6cb;
        border-color: #721c24;
        border-width: 15px;
        color: #721c24;
    }

    .status-appstart {
        background-color: #ffeeba;
        border-color: #856404;
        border-width: 15px;
        color: #856404;
    }

    #captcha {
        display: flex;
        flex-direction: column; /* 垂直排列 */
        align-items: flex-start; /* 左對齊 */
        gap: 10px; /* 元素間距 */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        width: 100%; /* 撐滿容器寬度 */
    }

    /* 驗證碼圖片樣式 */
    .puzzleImageSty {
        width: 180px;
        height: 60px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* 刷新按鈕樣式 */
    .refresh-btn {
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
    }

    /* 等號樣式 */
    .puzzelEqualSign {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }

    /* 輸入框樣式 */
    .inputstyle input {
        width: 180px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
    }
</style>
<script>
    const statusDisplayMap = {
        'Connected': '挖礦中，不要吵我',
        'Disconnected': '幹，斷線了',
        'AppStart': '應用程式啟動中',
        'LoginPage': '登入中',
        'LoginError': '你他媽帳號密碼打錯了',
        'Error': '程式掛了，請回報錯誤訊息',
        'Stop': '程式停止中'
    };
    
    //更新卡片資訊
    setInterval(function () {

        function updateCardStatus(data) {
            const $card = $('#card');
            const statusClasses = {
                'Connected': 'status-connected',
                'Disconnected': 'status-disconnected',
                'Error': 'status-disconnected',
                'Stop': 'status-disconnected',
                'default': 'status-appstart'
            };

            // 移除所有狀態類別並添加新的類別
            const newStatusClass = statusClasses[data.Status] || statusClasses['default'];
            if (!$card.hasClass(newStatusClass)) {
                $card.removeClass('status-connected status-disconnected status-appstart').addClass(newStatusClass);
            }
        }

        $(document).ready(function () {
            $.ajax({
                url: 'Miner/GetMinerRecord',
                type: 'GET',
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    const statusDisplay = statusDisplayMap[data.Status] || data.Status;

                    // if ($('#loginUserName').text() != data.LoginUserName)
                    //     $('#loginUserName').text(data.LoginUserName);

                    if ($('#status').text() != statusDisplay)
                        $('#status').text(statusDisplay);

                    if ($('#isConnected').text() != (data.IsConnected ? 'true' : 'false'))
                        $('#isConnected').text(data.IsConnected);

                    if ($('#reconnectSeconds').text() != data.ReconnectSeconds)
                        $('#reconnectSeconds').text(data.ReconnectSeconds);

                    if ($('#reconnectCounts').text() != data.ReconnectCounts)
                        $('#reconnectCounts').text(data.ReconnectCounts);

                    if ($('#exception').text() != data.Exception)
                        $('#exception').text(data.Exception);

                    if ($('#exceptionTime').text() != data.ExceptionTime)
                        $('#exceptionTime').text(data.ExceptionTime);

                    if ($('#publicIp').text() != data.PublicIp)
                        $('#publicIp').text(data.PublicIp);

                    if ($('#points').text() != data.Points)
                        $('#points').text(data.Points);

                    if ($('#networkQuality').text() != data.NetworkQuality)
                        $('#networkQuality').text(data.NetworkQuality);

                    if ($('#img1').attr('src') != data.Base64Image)
                        $('#img1').attr('src', data.Base64Image);


                    updateCardStatus(data);

                    if (data.Exception && data.status == "Error") {
                        $('#exMsg').show();
                        $('#exTime').show();
                    } else {
                        $('#exMsg').hide();
                        $('#exTime').hide();
                    }

                    if (data.CaptchaBase64Image) {
                        $('#captcha').show();

                        if ($('#puzzleImage').attr('src') != data.CaptchaBase64Image)
                            $('#puzzleImage').attr('src', data.CaptchaBase64Image);
                    }
                    else {
                        $('#captcha').hide();
                    }

                    if (data.Status == "Disconnected") {
                        $('#recSec').show();
                        $('#recCount').show();
                    } else {
                        $('#recSec').hide();
                        $('#recCount').hide();
                    }

                    if (data.NeedUpdate) {
                        $('#divUpdate').show();
                    }
                    else {
                        $('#divUpdate').hide();
                    }
                    const updateMsg = `有更新! 當前版本: ${data.AppVersion}，最新版本: ${data.LastAppVersion} `
                    if ($('#updateMsg').text() != updateMsg)
                        $('#updateMsg').text(updateMsg);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    }, 1000);
    function RefreshCaptcha() {
        $.ajax({
            url: 'Miner/RefreshCaptcha',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            }
        }).done(function (data) { });
    }

    function ApplyCaptcha() {
        const ans = $('#puzzelAns').val();
        $.ajax({
            url: 'Miner/ApplyCaptcha?captcha=' + encodeURI($("#puzzelAns").val()),
            xhrFields: {
                withCredentials: true
            }
        }).done(function (data) {
            $("#puzzelAns").val('');
        });

    }

</script>

 



<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6 mb-4">

            <div class="card status-appstart" id="card">

                <div class="card-body">

                    <div id="divUpdate">

                        <span id="updateMsg"></span>

                        <br />

                        <a id="goToUpdate" href="https://github.com/aron-666/Aron.DawnMiner">

                            前往更新

                        </a>

                        <br /><br />

                    </div>

                    <p class="card-text">

                        <div id="captcha">
                            <img class="puzzleImageSty" id="puzzleImage" src="">
                            <button type="button" class="refresh-btn" id="captcha-Refresh" onclick="RefreshCaptcha()">
                                Refresh
                            </button>
                            <span class="puzzelEqualSign"> = </span>
                            <div class="inputstyle puzzleInput">
                                <input type="text" class="inputbox" id="puzzelAns" placeholder="?">
                            </div>
                            <button type="button" class="refresh-btn" id="captcha-Submit" onclick="ApplyCaptcha()">
                                Submit
                            </button>
                        </div>


                        @* <strong>礦老闆: </strong> <span id="loginUserName"></span><br /><br /> *@

                        <strong>狀態: </strong> <span id="status"></span><br /><br />

                        <strong>是否連線: </strong> <span id="isConnected"></span><br /><br />

                        <strong>外網IP: </strong> <span id="publicIp"></span><br /><br />

                        <strong>網路品質: </strong> <span id="networkQuality"></span><br /><br />

                        <strong>總工資: </strong> <span id="points"></span><br /><br />

                        <div id="recSec">

                            <strong>重連秒數: </strong> <span id="reconnectSeconds"></span><br /><br />

                        </div>

                        <div id="recCount">

                            <strong>重連次數: </strong> <span id="reconnectCounts"></span><br /><br />

                        </div>

                    <p id="exMsg" style="display: none;"><strong>錯誤訊息: </strong> <span id="exception"></span><br /><br /></p>

                    <p id="exTime" style="display: none;"><strong>錯誤時間: </strong> <span id="exceptionTime"></span><br /><br /></p>

                    <img id="img1" src="" alt="狀態圖片" />

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>